head{
  background: green;

}

.info{
  width: 800px;
  height: 400px;
  p{
    font-size: 15px;
    color: yellow;
  }
}

.info2{
  width: 900px;
  height: 500px;
  background: red;
  p{
    font-size: 20px;
    color: blue;
    text-decoration: underline;
  }
}
